body{
    font-family: 'Kufam', cursive;
}
h1{
    font-size:40px;   
}
.color{
    color:orchid;
}
.half-width{
    width:40%;
    float: left;
    margin-left:20px;
    padding-left:20px;
    
   

}
.half-width img{
   margin-top:75px;
   margin-left:50px;
    width:100%;
}
